@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans kr';
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}
